$primary: #851e3e;
$secondary: #061e3e;
$accent: #f04393;

* {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Prompt", sans-serif;
  background: $secondary;
}

.container {
  width: 80%;
  margin: 64px auto;
}

h1 {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.5rem;
  color: #fff;
}

.field {
  width: fit-content;
  position: relative;
  margin: auto;
  font-size: 2.4rem;
  display: flex;
  box-shadow: 0 0 128px rgba(133, 30, 62, 0.5);
  border: 3px #aaa solid;
  border-top: 0;
  border-right: 0;
  border-left: 7px #fff solid;

  ::placeholder {
    opacity: 0.5;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
  }

  &::before,
  &::after {
    z-index: -1;
    width: 105%;
    transform: rotate(1deg) skewX(10deg);
    top: -15px;
    position: absolute;
    left: -22px;
    height: 120%;
    content: "";
    border: 5px #f04393 solid;
    border-right: 5px transparent solid;
    border-bottom: 5px transparent solid;
  }
  &::after {
    top: 6px;
    left: -10px;
    border: #f9c449 5px solid;
    border-top: 0;
    border-left: 0;
  }
  .control {
    padding: 1rem;
    outline: none;
    margin: 0;
    letter-spacing: 0.5px;
    color: #fff;
    border: 0;
    background: #000a;
  }
}
