$primary: #851e3e;
$secondary: #061e3e;
$accent: #f04393;

* {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Prompt", sans-serif;
  background: $secondary;
}

.container {
  width: 80%;
  margin: 64px auto;
}

h1,
h2 {
  letter-spacing: 2rem;
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}

h2 {
  font-weight: 300;
  font-size: 3rem;
}

.field {
  width: fit-content;
  position: relative;
  margin: auto;
  font-size: 2.4rem;
  display: flex;
  box-shadow: 0 0 128px rgba(133, 30, 62, 0.5);
  border: 3px #aaa solid;
  border-top: 0;
  border-right: 0;
  border-left: 6px #fff solid;

  ::placeholder {
    opacity: 0.5;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
  }

  &::before,
  &::after {
    z-index: -1;
    width: 105%;
    transform: skewX(10deg);
    top: -15px;
    position: absolute;
    left: -25px;
    height: 120%;
    content: "";
    border: 5px #f04393 solid;
    border-right: 5px transparent solid;
    border-bottom: 5px transparent solid;
  }
  &::after {
    top: 6px;
    left: -8px;
    border: #f9c449 5px solid;
    border-top: 0;
    border-left: 0;
  }
  .control {
    padding: 1rem;
    outline: none;
    margin: 0;
    letter-spacing: 0.5px;
    color: #fff;
    border: 0;
    background: #000a;
  }
}

ul.warplist {
  text-align: left;
  padding: 1.5rem 2rem;
  margin: 1rem;
  list-style: none;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  display: inline-block;
  color: #fff;
  box-shadow: 0 4px 8px #0001;
  border: 1px #fff solid;
  border-radius: 4px;
  background: #000a;
  > strong {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }
  > li {
    padding: 0.2rem 0;
    display: flex;
    a.warp {
      color: white;
      font-weight: 200;
      text-decoration: none;
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
    }
    a.delete {
      margin-left: 0.5rem;
      display: block;
      text-decoration: none;
    }
  }
}

button.destroy {
  font-weight: 200;
  position: relative;
  padding: 1rem;
  outline: none;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: #eee;
  border: 2px #aaa solid;
  border-top: 0;
  border-right: 0;
  border-left: 5px #fff solid;
  background: #000a;
  &::before,
  &::after {
    transform: skewX(10deg);
    content: "";
    width: 105%;
    height: 120%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: #f9c449 3px solid;
    border-top: 3px transparent solid;
    border-left: 3px transparent solid;
    z-index: -1;
  }
  &::after {
    top: -9px;
    left: -17px;
    border: #f04393 3px solid;
    border-bottom: 3px transparent solid;
    border-right: 3px transparent solid;
    z-index: -1;
  }
}
