$primary: #851e3e;
$secondary: #061e3e;
$accent: #f04393;

* {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Prompt", sans-serif;
  background: $secondary;
}

.container {
  width: 90%;
  margin: 48px auto;
}

h1,
h2 {
  text-indent: 2rem;
  letter-spacing: 2rem;
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}

h2 {
  font-weight: 300;
  font-size: 3rem;
}

.time {
  z-index: -1;
  user-select: none;
  font-size: 50vw;
  font-weight: 200;
  position: fixed;
  left: 0;
  color: white;
  opacity: 0.1;
  transform: translate(-5%, 0);
  line-height: 50vw;
  bottom: -8.3vw;
}

.field {
  position: relative;
  margin: 32px auto;
  font-size: 2.4rem;
  display: flex;
  box-shadow: 0 0 128px rgba(133, 30, 62, 0.5);
  border: 3px #aaa solid;
  border-top: 0;
  border-right: 0;
  border-left: 6px #fff solid;

  ::placeholder {
    transition: letter-spacing 0.3s, opacity 0.3s;
    opacity: 0.5;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
  }

  &::before,
  &::after {
    z-index: -1;
    width: 105%;
    transition: left 0.3s, top 0.3s;
    transform: skewX(10deg);
    top: -15px;
    position: absolute;
    left: -25px;
    height: 120%;
    content: "";
    border: 5px #f04393 solid;
    border-right: 5px transparent solid;
    border-bottom: 5px transparent solid;
  }
  &::after {
    top: 6px;
    left: -2%;
    border: #f9c449 5px solid;
    border-top: 0;
    border-left: 0;
  }
  &:hover,
  &:focus-within {
    ::placeholder {
      opacity: 0.6;
      letter-spacing: 3px;
    }
    &::before {
      top: -16px;
      left: -27px;
    }
    &::after {
      top: 7px;
      left: -1.5%;
    }
  }
  .control {
    padding: 1rem;
    outline: none;
    margin: 0;
    letter-spacing: 0.5px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0;
    color: #fff;
    border: 0;
    background: #000a;
    &.expanded {
      min-width: 0;
      flex-shrink: 1;
      flex-grow: 1;
    }
    &.search {
      padding-right: 4rem;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        width: 1.5rem;
        transition: transform 0.5s;
        top: 50%;
        position: absolute;
        left: 50%;
        height: 1.5rem;
        display: block;
        content: "";
      }
      &::before {
        transform: translate(-70%, -70%);
        border: 0.3rem solid #fff;
        border-radius: 50%;
      }
      &::after {
        width: 0.32rem;
        transform: translateX(150%) rotate(-45deg);
        background: #fff;
      }
      &:hover {
        &::before {
          transform: translate(-50%, -50%);
        }
        &::after {
          transform: translate(-240%, -90%) rotate(-45deg);
        }
      }
    }
  }
  width: 80vw;
  @media (min-width: 800px) {
    width: 50vw;
  }
}

ul.warplist {
  text-align: left;
  padding: 1.5rem 2rem;
  margin: 1rem;
  list-style: none;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  display: inline-block;
  color: #fff;
  box-shadow: 0 4px 8px #0001;
  border: 1px #fff solid;
  border-radius: 4px;
  background: #000a;
  > strong {
    text-align: center;
    margin-bottom: 1rem;
    display: block;
  }
  > li {
    padding: 0.2rem 0;
    display: flex;
    a.warp {
      transition: text-decoration-color 0.1s;
      text-decoration-color: transparent;
      font-weight: 200;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 0;
      display: block;
      color: white;
      &:hover {
        text-decoration-color: white;
      }
    }
    span.delete {
      cursor: pointer;
      user-select: none;
      transition: transform 0.3s;
      text-decoration: none;
      margin-left: 0.5rem;
      display: block;
      &:hover {
        transform: rotate(180deg);
        transform-origin: center center;
      }
    }
  }
}

button.destroy {
  transition: letter-spacing 0.3s;
  position: relative;
  padding: 1rem;
  outline: none;
  margin: 18px 32px;
  letter-spacing: 1.5px;
  font-weight: 200;
  cursor: pointer;
  color: #eee;
  border: 2px #aaa solid;
  border-top: 0;
  border-right: 0;
  border-left: 5px #fff solid;
  background: #000a;
  &::before,
  &::after {
    z-index: -1;
    width: 105%;
    transition: left 0.3s, top 0.3s;
    transform: skewX(10deg);
    top: -1px;
    position: absolute;
    left: -1px;
    height: 120%;
    content: "";
    border: #f9c449 3px solid;
    border-top: 3px transparent solid;
    border-left: 3px transparent solid;
  }
  &::after {
    z-index: -1;
    top: -9px;
    left: -17px;
    border: #f04393 3px solid;
    border-right: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  &:hover {
    letter-spacing: 2px;
    &::before {
      top: 0;
      left: 2px;
    }
    &::after {
      top: -10px;
      left: -22px;
    }
  }
}

footer {
  color: white;
  letter-spacing: 5px;
  font-weight: 200;
  margin-top: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .hidden-small {
    display: none;
  }
}
